1. problem(when we convert a string directly into int it gives an error but when we store a value of string then we convert it doesn't 
give an error why??)

In [2]:
val = int("42")

In [1]:
num = int(input("Enter the number: "))
print(num)

ValueError: invalid literal for int() with base 10: 'a'

In [7]:
num = "42a"
print(type(num))
val = int(num)  # This is valid and will result in val being 42
print(type(val))

print(val)

<class 'str'>
<class 'int'>
42

In [ ]:
2. problem(when we store the value and print it it gives a output with single inverted commas but when we drectly print it doesn't??)

In [8]:
length = 8
width = 5

calculate = ("Area of rectangle: ", length* width)
print(()"Area of rectangle: ", length* width)

('Area of rectangle: ', 40)

In [2]:
length = 8
width = 5

print("Area of rectangle: ", length* width)
# print(calculate)

Area of rectangle:  40